<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxl.androidtools">


    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/label_test" />
        <activity
            android:name=".ui.AnimationActivity"
            android:label="@string/label_animations" />
        <activity
            android:name=".ui.CustomViewActivity"
            android:label="@string/label_customview" />

        <activity
            android:name=".ui.TestXmlActivity"
            android:label="@string/label_xml" />
        <activity
            android:name=".ui.TestHttpActivity"
            android:label="@string/label_http" />

        <activity
            android:name=".ui.TestDialogActivity"
            android:label="@string/label_testdialog" />
        <activity
            android:name=".ui.TestFrescoActivity"
            android:label="@string/label_testfresco" />
        <activity
            android:name=".ui.TestSchemeActivity"
            android:label="@string/label_testscheme" />

        <activity android:name=".ui.TestSchemeResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/str_scheme_testscheme" />
            </intent-filter>
        </activity>

        <!--自定义View-->
        <activity
            android:name=".ui.customviews.SwitchButtonActivity"
            android:label="@string/label_switch" />
        <activity
            android:name=".ui.customviews.FlowLayoutActivty"
            android:label="@string/label_flow" />
        <activity
            android:name=".ui.customviews.MarqueeActivity"
            android:label="@string/label_marquee" />
        <activity
            android:name=".ui.customviews.CircleWaveActivity"
            android:label="@string/label_circlewave" />
        <activity
            android:name=".ui.customviews.CalendarActivity"
            android:label="@string/label_calendar" />

        <!--动画效果-->
        <activity
            android:name=".ui.animations.Add2CartActivity"
            android:label="@string/label_add2cart" />
        <activity
            android:name=".ui.animations.JitterViewActivity"
            android:label="@string/label_jitter" />


    </application>

</manifest>